body {
    margin: 0;
    padding: 0;
    display: block;
}

#root {
    width: 20%;
    margin: auto;
}

.calculatorKeys {
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
}

.result {
    width: 100%;
    margin: 1rem 0;
}